html
  ,body
  ,div
  ,p{margin:0;padding:0;}
body{font-size:14px;font-family:"microsoft yahei";background-color:#fff;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
th
  ,td{font-size:14px;padding:0;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
img{border:0 none;}

.column{width:1002px;line-height:28px;border:1px solid #dedede;}
.column .hbox{width:185px;height:154px;}
.column .head{display:block;background-color:#fafafa;}
.column .box{width:100%;background-color:#fff;border-top:2px solid #f2f3f5;}
.column .box1{width:100%;word-wrap:break-word;color:#fff;background-color:#3f4160;}
.column .box2{width:100%;background-color:#f8f9fa;}
.column .tba{width:940px;padding:0 30px 15px;}
.column .tbb{width:940px;padding:0 30px;}
.column .tb1{width:900px;line-height:28px;color:#333;word-break:break-all;padding:0 20px;}
.column .tb2{width:430px;padding:0 20px;}
.column .tb3{width:900px;padding:15px 20px 15px 0;}
.column .gray
  ,.column .gray2{color:#999;word-break:break-all;}
.column .gray2{color:#666;}
.column .plate1
  ,.column .plate2{width:430px;height:54px;font-size:16px;font-weight:bold;color:#818ba3;}
.column .plate1{width:900px;padding:0 50px;}
.column .plate1 .f16{font-size:14px;font-weight:normal;color:#333;}
.column .plate1 .f12{font-size:12px;font-weight:normal;color:#999;}
.column .keys
  ,.column .keys2{width:85px;line-height:28px;color:#666;}
.column .keys2{width:110px;}
.column .txt1
  ,.column .txt2
  ,.column .txt3{width:815px;line-height:28px;color:#333;word-break:break-all;}
.column .txt2{width:345px;}
.column .txt3{width:auto;max-width:815px;font-size:14px;font-weight:normal;}
.column .txt4{width:305px;color:#fff;word-break:break-all;}
.column .infr{width:767px;color:#fff;table-layout:auto;}
.column .vam
  ,.column .grcha{vertical-align:middle;margin-left:5px;}
.column .box1 .vam{margin-right:5px;margin-left:0;}
.column .name{font-size:24px;padding-bottom:18px;}
.column .icard{color:#a1a3ae;padding-bottom:18px;}
.column .con{border-top:1px dotted #ddd;}
.column .pr20{width:225px;padding-right:20px;}
.column .time{width:125px;line-height:28px;color:#666;padding-left:20px;}
.column .rtbox{width:765px;line-height:28px;color:#333;padding:0 20px 0 15px;word-break:break-all;}
.column .hai
  ,.column .guan{line-height:18px;font-size:12px;color:#fff;vertical-align:text-top;margin-left:5px;padding:1px 3px;position:relative;top:2px;background-color:#00A29A;border-radius:2px;}
.column .tag{display:inline-block;word-break:break-all;# display:inline;# zoom:1;}
.column .all{color:#666;padding:10px 20px;background-color:#fafafa;}
.column .tit{width:900px;height:40px;color:#666;padding:0 20px;background-color:#f5f5f5;}
.column .p15{padding:15px 0;}
.column .p5{display:inline-block;color:#666;padding:0 5px;# display:inline;# zoom:1;}
.column .cell .skill{width:151px;text-align:right;padding-right:15px;}
.column .cell .skbg
  ,.column .cell .skco{display:inline-block;height:18px;line-height:18px;font-size:12px;color:#fff;vertical-align:top;margin-top:10px;background-color:#ddd;border-radius:20px;# display:inline;# zoom:1;}
.column .cell .skbg{min-width:450px;max-width:600px;}
.column .cell .skco{font-style:normal;margin-top:0;padding-left:10%;background-color:#00A29A;z-index:3;}
.column .sl .skco{width:206px;}
.column .lh .skco{width:132px;}
.column .yb .skco{width:58px;}
.column .fbox strong{font-size:14px;font-weight:bold;}
.column .cha{font-size:12px;font-weight:normal;color:#2d64b3;margin-left:5px;}
.column .cha:hover{color:#ff6000;}
.column .email{width:330px;}
.column .email .vam{margin-top:5px;}

.sinJn{height:35px;line-height:35px;}
.myTxImg{width:120px;height:120px;border-radius:100%;border:2px solid #ccc;}
.companyName{font-weight:bold;}
.toggleTxtImg{cursor:pointer;}